<template>
  <div>
    <account-container
      title="ข้อมูลส่วนตัว"
    >
      <div>
        <a-form>
          <div class="form-wrapper">
            <a-form-item
              label="ชื่อ"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <a-input
                v-model="userData.firstName"
                placeholder="ชื่อ"
                :disabled="user.isEmailVerify && user.isIdentityIdVerify"
              />
            </a-form-item>
            <a-form-item
              label="นามสกุล"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <a-input
                v-model="userData.lastName"
                placeholder="นามสกุล"
                :disabled="user.isEmailVerify && user.isIdentityIdVerify"
              />
            </a-form-item>
            <a-form-item
              label="อีเมล"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <a-input
                v-model="userData.email"
                disabled
                placeholder="อีเมล"
              />
            </a-form-item>
            <a-form-item
              label="เบอร์โทรศัพท์"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <a-input
                v-model="userData.phoneNumber"
                placeholder="เบอร์โทรศัพท์"
              />
            </a-form-item>
            <a-form-item
              label="Facebook"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <a-input
                v-model="userData.facebookId"
                placeholder="Facebook"
              />
            </a-form-item>
            <a-form-item
              label="Line"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <a-input
                v-model="userData.lineId"
                placeholder="Line"
              />
            </a-form-item>
            <a-form-item
              label="เลขบัตรประชาชน"
              :label-col="{ span: 5 }"
              :wrapper-col="{ span: 12 }"
            >
              <a-input
                v-model="userData.identityId"
                placeholder="เลขบัตรประชาชน"
                :disabled="user.isEmailVerify && user.isIdentityIdVerify"
              />
            </a-form-item>
          </div>
          <div class="content-wrapper">
            <div class="title-wrapper">
              <span class="title">ยืนยันหลักฐาน</span>
            </div>
            <div class="pd-t-20px">
              กรุณาอัพโหลดรูปบัตรประชาชน หรือ หนังสือเดินทาง
            </div>
            <div class="form-wrapper">
              <a-row :gutter="10">
                <a-col :span="24">
                  <a-form-item
                    :wrapper-col="{ span: 24 }"
                  >
                    <div class="dropbox">
                      <a-upload
                        :multiple="false"
                        name="avatar"
                        :file-list="fileList"
                        list-type="picture-card"
                        class="avatar-uploader"
                        :before-upload="beforeUpload"
                        :remove="removeUploadFile"
                        :show-upload-list="{
                          showPreviewIcon: false
                        }"
                        :disabled="user.isEmailVerify && user.isIdentityIdVerify"
                        @change="handleChange"
                      >
                        <div>
                          <a-icon type="plus" />
                          <div class="ant-upload-text">
                            Upload
                          </div>
                        </div>
                      </a-upload>
                    </div>
                  </a-form-item>
                </a-col>
              </a-row>
            </div>
          </div>
          <div class="action-wrapper">
            <!-- <a-button class="oa-button is-danger" size="large" :style="{ marginRight: '18px' }">ลบ</a-button> -->
            <!-- <a-button class="oa-button" size="large" :style="{ marginRight: '18px' }">ยกเลิก</a-button> -->
            <a-button class="oa-button is-primary" size="large" @click="handleSubmit">
              บันทึก
            </a-button>
          </div>
        </a-form>
      </div>
    </account-container>
  </div>
</template>
<script>
import { call, get } from 'vuex-pathify'
import { mapWaitingActions } from 'vue-wait'
import AccountContainer from '~/components/account/AccountContainer.vue'

export default {
  components: {
    AccountContainer
  },
  layout: 'account',
  data () {
    return {
      file: null,
      fileList: [],
      isLoading: false,
      previewImage: '',
      userData: {
        firstName: '',
        lastName: '',
        email: '',
        phoneNumber: '',
        identityId: '',
        lineId: '',
        facebookId: ''
      }
    }
  },
  async fetch ({ store }) {
    try {
      await store.dispatch('auth/fetchMe')
    } catch (e) {

    }
  },
  created () {
    this.userData = {
      ...this.user
    }
    if (this.user && this.user.identityIdUrl) {
      this.fileList = [
        {
          uid: '-1',
          name: 'xxx.png',
          status: 'done',
          url: this.user && this.user.identityIdUrl
        }
      ]
    }
  },
  computed: {
    ...get('auth', {
      user: 'user'
    })
  },
  methods: {
    ...call('auth', [
      'fetchMe',
      'editMe'
    ]),
    ...mapWaitingActions('auth', {
      fetchMe: 'base loading'
    }),
    handleSubmit () {
      this.isLoading = true
      const payload = new FormData()
      payload.append('first_name', this.userData.firstName)
      payload.append('last_name', this.userData.lastName)
      payload.append('phone_number', this.userData.phoneNumber)
      payload.append('identity_id', this.userData.identityId)
      payload.append('facebook_id', this.userData.facebookId)
      payload.append('line_id', this.userData.lineId)
      if (this.file) { payload.append('identity_id_url', this.file) }

      const formEntries = Array.from(payload.entries())
      console.log('formEntries ', formEntries)
      this.editMe(payload).then(() => {
        return this.fetchMe()
      }).then((res) => {
        this.userData = {
          ...this.user
        }
        this.openNotificationWithIcon('success', 'สำเร็จ', 'เปลี่ยนข้อมูลโปรไฟล์สำเร็จ')
      }).catch(() => {
        this.openNotificationWithIcon('error', 'ไม่สำเร็จ', 'เปลี่ยนข้อมูลโปรไฟล์ไม่สำเร็จ โปรดตรวจสอบอีกครั้ง')
      }).finally(() => {
        this.isLoading = false
      })
    },
    handleChange ({ fileList }) {
      this.fileList = fileList
    },
    beforeUpload (file) {
      this.file = file
      this.fileList = [file]
    },
    removeUploadFile () {
      this.file = null
      this.fileList = []
    },
    openNotificationWithIcon (type, message, description) {
      this.$notification[type]({
        message,
        description,
        duration: 2
      })
    }
  }
}
</script>

<style lang="less" scoped>
.content-wrapper {
  .title-wrapper {
    border-bottom: 1px solid rgba(158, 158, 158, 0.4);
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    .title {
      color: #424242;
      font-size: 1.6rem;
      font-weight: 500
    }
  }
}
.form-wrapper {
  padding: 20px 0;
  @media only screen and (min-width: 992px) {
    padding: 20px 80px;
  }
  /deep/ .ant-input {
    height: 40px;
    &::placeholder {
      color: #95989a;
    }
  }
  /deep/ .ant-select-selection--single {
    height: 40px;
  }
  /deep/ .ant-form-item {
    margin-bottom: 20px;
  }
  /deep/ .ant-select-selection__rendered {
    line-height: 38px;
  }
  /deep/ .ant-select-selection__placeholder {
    color: #95989a;
    font-weight: 400;
    font-size: 1.4rem;
  }
  /deep/ .ant-form-item-label > label {
    color: #424242;
  }
}
.mock-img {
  background: #424242;
  &.small {
    margin-top: 10px;
    height: 93px;
  }
}
.action-wrapper {
   border-top: 1px solid rgba(158, 158, 158, 0.4);
   display: flex;
   justify-content: flex-end;
   padding-top: 36px;
}

.cancel {
  width: 100px;
}
.remove {
  width: 100px;
  color: white;
  background: #f20000;
}
.save {
  width: 100px;
  color: white;
  background: #ff9300;
}
.pd-t-20px {
  padding-top: 20px;
}
</style>
