<template>
  <div class="hero-layout bg-cl-gray dp-flex f-drt-column jtf-ct-center">
    <base-header />
    <nuxt class="bg-cl-gray" />
    <loading-modal v-if="$wait.is('base loading')" />
  </div>
</template>

<script>
import BaseHeader from '~/components/base-header'

import LoadingModal from '~/components/loading-modal.vue'

export default {
  name: 'HeroGrayLayout',
  components: {
    BaseHeader,
    LoadingModal
  }
}
</script>

<style scoped>
.hero-layout {
  height: 100%;
  padding-top: 80px;
  padding-bottom: 90px;
}
.bg-cl-gray {
  background-color: #e7e7e7;
}
</style>
